:root {
  box-sizing: border-box;
  --bg-color: #dadada;
  --white: white;
  --pink: #fdf1f1;
}
body {
  margin: 0;
  padding: 0;
}

#background {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.content {
  height: 100%;
}
.header {
  height: 10%;
  background-color: blueviolet;
}
.footer {
  height: 10%;
  background-color: blueviolet;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  height: 15%;
}
.middle {
  height: 60%;
}
.right {
  height: 25%;
}

.toolbar {
  border: 1px solid blue;
  width: 90%;
  height: 70%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar > i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
}

.optionalSettings {
  background-color: blue;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  display: flex;
}

.settings-button {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#canvas {
  background-color: white;
  border-radius: 20px;
}

.modal-overlay {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(116, 116, 116, 90%);
  z-index: 1;
}
.modal-container {
  position: relative;
  height: 40vh;
  width: 85vw;
  background-color: rgb(235 237 245);
  top: 25%;
  left: 4%;
  border-radius: 10%;
}
@media screen and (min-width: 414px) {
  .toolbar > i {
    font-size: 1.5rem;
    color: white;
  }
}
@media screen and (min-width: 768px) {
  .toolbar > i {
    font-size: 3rem;
    color: rgb(77, 111, 192);
  }
}
