:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg-color: #dadada;
  --white: white;
  --pink: #fdf1f1;
}

#background {
  background-color: var(--bg-color);
  padding: 5%;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

#top-half {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

#bottom-half {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  width: 100%;
}

#toolbar {
  border: 5px solid black;
  width: 80%;
  height: 60%;
  border-radius: 15px;
}

#canvas-container {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

#canvas {
  border: 1px solid red;
}
