:root {
  box-sizing: border-box;
  --bg-color: #dadada;
  --white: white;
  --pink: #fdf1f1;
}
body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
}

#background {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  height: 100%;
}
.header {
  height: 10%;
  background-color: blueviolet;
}
.footer {
  height: 10%;
  background-color: blueviolet;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  height: 15%;
}
.middle {
  height: 60%;
}
.right {
  height: 25%;
}

.toolbar {
  background-color: blue;
  width: 90%;
  height: 70%;
  border-radius: 20px;
}

.optionalSettings {
  background-color: blue;
  width: 90%;
  height: 90%;
  border-radius: 20px;
}

#canvas {
  background-color: white;
  border-radius: 20px;
}
